<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationTrainingSuite" verbose="1">
  <test name="AllTests">
    <classes>
      <class name="com.aw.SeleniumSampleTest"/>
      <class name="com.aw.RestAssuredSampleTest"/>
    </classes>
  </test>
</suite>
